# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.idea/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*replays*.txt
*.mp4
*continuous_results*.txt
*transfer_learning_model_extraction*.txt
*transfer_learning_model_evaluation_lock.txt
*lfm_learning_model_extraction*.txt
*lfm_learning_model_evaluation_lock.txt

results/bait/lock.txt

figures/GVGAI/

results/chipschallenge/videos_RHEA/replays_RHEA.txt

results/bait/videos_RHEA/replays_RHEA.txt

results/deceptizelda/continuous_learning.txt
